
.ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  list-style: none;
  background-color: #212429;
  gap: 4rem;
  row-gap: 1rem;
  padding: 0;

}
.li, .aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #f6f5f740;
  padding: 1.5rem;
  box-shadow: 0px 2px 4px #f6f5f740;
  background-color: #212429;
  border-radius: 10px;
  transition: all .5s ease-in-out;

}
.li:hover {
    transform: scale(105%);
}
.li_p {
  color: #57c4db;
}
.aside {
  position: fixed;
  top: 20rem;
  left: 29rem;
  padding: 1rem;
  width: 900px;

}
.button {
  max-width: 100px;
  padding: .5rem .7rem;
  border: 1px solid #f6f5f740;
  box-shadow: 0px 2px 4px #f6f5f740;
  border-radius: 4px;
  transition: all .1s ease-in-out;
  color: #f6f5f7d5;
  background-color: #212429;
  cursor: pointer;
}
.button:hover {
  color: #57c4db;
  border: 1px solid #57c4db;

}
.button:active {
  transform: scale(95%);
}