.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.carousel_inner {
  display: flex;
  transition: transform 2s ease-in-out;
}

.carousel_inner.transition {
  transition: transform 2s ease-in-out;
}

.carousel_item {
  display: flex;
  justify-content: center;
  min-width: 100%;
  box-sizing: border-box;
}

.carousel .img {
  width: 100%;
  display: block;
}

.carousel_indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.indicator {
  border: none;
  background: #ccc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background: #c6c6c6;
}
