.div {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 1.5rem;
  background-color: #f6f5f713;
  box-shadow: 0px 2px 4px #f6f5f714;
  border-radius: 10px;
}
.code {
  border-radius: 5px;
  box-shadow: 0px 1px 3px #f6f5f73f;
  padding: 1rem;
  overflow: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: calc(10px + 0.5vw);
  width: 100%;
}
.button {
  border: 0;
  font-size: 1.2rem;
  font-weight: 100;
  color: #f6f5f7;
  background-color: transparent;
  cursor: pointer;
}
