.ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 2rem auto;
}

.li {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: #f6f5f7ce;
  text-decoration: none;
  transition: all .4s ease-in-out;
  border: 1px solid transparent;
  border-radius: 4px;
}
.li:hover {
  color: #57c4db;
  border: 1px solid #57c4db;
}
