.ul {
    display: flex;
    gap: 5px;
    list-style: none;
    justify-content: end;
    margin: 2rem 5rem;
    padding: .4rem;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.li {
    text-decoration: none;
    padding: .6rem 1rem;
    color: #f6f5f7;
    transition: all .2s ease-in-out;
}
.li:hover {
    background-color: rgba(7, 7, 7, 0.8);
}
