.ul {
    list-style: none;
    position: fixed;
    padding: 1rem;
    font-size: calc(14px + 0.5vw);
    border-right: 2px solid #f6f5f7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.li {
    color: #f6f5f7;
    text-decoration: none;
    padding: .6rem;
    transition: color .4s ease-in-out;
}

.li:hover {
    color: #57c4db;
}