.main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  gap: 3rem;
  color: #f6f5f7d5;
  font-size: 1.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.ul {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  list-style: none;
  position: fixed;
  padding: 1rem;
  right: 5rem;
  font-size: calc(14px + 0.5vw);
  border-left: 2px solid #f6f5f7;
}
.li,
.a {
  list-style: none;
  cursor: pointer;
  color: #f6f5f7d5;
  text-decoration: none;
  padding: 0.6rem;
  transition: color 0.4s ease-in-out;
}
.a:hover {
  color: #57c4db;
}
.isActive {
  color: #57c4db;
}
.header {
  display: flex;
  gap: 5rem;
  margin-top: 15rem;
}
.h1 {
  color: #57c4db;
  font-size: 2.8rem;
}
.h2 {
  color: #57c4db;
  margin-bottom: 5rem;
  font-size: 2.3rem;
}
.h3 {
  margin-bottom: 0;
}
.p {
  margin-bottom: 3rem;
}
.section {
  margin-bottom: 10rem;
}
.header_h2 {
  font-size: 1.5rem;
  color: #f6f5f7;
}
.architecture {
  margin-top: 15rem;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.architecture_img {
  margin-top: 5rem;
  width: 160%;
  transition: all 0.5s ease-in-out;
}
.architecture_img:hover {
  transform: scale(140%);
}
.reusability_header {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}
.reusability_img {
  width: 40%;
  transition: all 0.5s ease-in-out;
}
.reusability_img:hover {
  transform: scale(140%);
}
