.aside {
  position: fixed;
  right: 5rem;
  border-left: 1px solid #f6f5f7d5;
}
.isActive {
  color: #57c4db;

}
.architecture {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.architecture_img {
  margin-top: 5rem;
  width: 160%;
  transition: all 0.5s ease-in-out;
}
.architecture_img:hover {
  transform: scale(140%);
}
.reusability_header {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
}
.reusability_img {
  width: 40%;
  transition: all 0.5s ease-in-out;
}
.reusability_img:hover {
  transform: scale(140%);
}
